---
layout: default
---

<div class="main-post-list">
 <h2 class="blog-button">
          <b> <ins>Projects </ins> </b>
 </h2>
  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title">
            {{ post.title }}
        </h2>
        <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
       <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
